<div id="carouselZelda" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselZelda" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselZelda" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselZelda" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex justify-content-center">
                <img src="~/img/img1.jpg" class="d-block w-100" alt="img-1">
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center">
                <img src="~/img/img2.jpg" class="d-block w-100" alt="img-2">
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center">
                <img src="~/img/img3.jpg" class="d-block w-100" alt="img-3">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselZelda" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselZelda" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="h-100 p-5 text-white bg-dark rounded-3">
    <h2>ZELDA</h2>
    <p>
            A série é protagonizada por Link; um jovem herói pertencente a raça Hylian,
            essa raça constitui de um povo com orelhas grandes e pontudas semelhantes a elfos.
            O herói possui um vínculo próximo com a Princesa Zelda;
            uma reencarnação da deusa Hylia e também princesa do reino de Hyrule.
            Cada jogo possui uma história e um objetivo únicos. 
            Apesar de que frequentemente o objetivo principal de Link nos jogos seja 
            retratado como um herói protetor do reino de Hyrule e da Triforce, 
            do antagonista Ganon. A Triforce é uma relíquia deixada pelas deusas 
            criadoras do reino: Din, Farore e Nayru,
            representado as virtudes da Coragem, Sabedoria e Poder respectivamente.
    </p>
</div>