<div id="carousel" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/img1.jpg" class="d-block img-fluid w-100">
        </div>
        <div class="carousel-item">
            <img src="~/img/img2.jpg" class="d-block img-fluid w-100">
        </div>
        <div class="carousel-item">
            <img src="~/img/img3.jpg" class="d-block img-fluid w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="p-5 mb-4 bg alert-dark rounded-3 ">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Valorant</h1>
        <p class="col-md-8 fs-4">Valorant é o novo jogo FPS da Riot Games, a mesma desenvolvedora do League of Legends (LoL). Conhecido inicialmente como “Project A”, o game é um fps 5v5 tático que mistura elementos de Counter Strike: Global Offensive (CS:GO) com Overwatch. O título conta com um elenco de personagens com habilidades específicas e mapas onde o objetivo é ativar um bomba ou defender um território. Os times começam a partida como ataque ou defesa, e trocam de lado na décima segunda rodada. Vence a equipe que fizer 13 pontos primeiro, e os jogos têm até 24 rounds. O game tem uma economia parecida com a do CS:GO e disponibiliza diversos armamentos para compra no início de cada rodada. Os personagens têm habilidades específicas que também podem ser liberadas na loja.</p>
    </div>
</div>