@{
    ViewData["Title"] = "Index";
}

<div id="carousel" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/ferrari.jpg" class="d-block w-100" alt="ferrar">
        </div>
        <div class="carousel-item">
            <img src="~/img/redbullmercedes.jpg" class="d-block w-100" alt="redbull-mercedes">
        </div>
        <div class="carousel-item">
            <img src="~/img/mclaren.jpg" class="d-block w-100" alt="mclaren">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h1>MAX VERSTAPEN</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <h1>VENCE</h1>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-6">
            <h1>O CAMPEONATO</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <p>Uma reviravolta após a bandeirada! Max Verstappen sagrou-se bicampeão mundial de F1 2022 após vencer o GP do Japão. Era questão de tempo, mas até o holandês ficou confuso: o título só foi definido neste domingo após punição de cinco segundos a Charles Leclerc, que cortou por fora da pista ao se defender de Sergio Pérez. Com a penalização, o monegasco da Ferrari caiu da segunda para a terceira colocação, garantindo a margem matemática para o bi do piloto da RBR.</p>
    </div>
</div>
