@model Devs2Blu.ProjetosAula.Atividade4MVC.Models.Entities.Jogo

<h3>Novo Jogo</h3>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="from-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control">
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="from-group">
				<label asp-for="Personagem" class="control-label"></label>
				<input asp-for="Personagem" class="form-control">
				<span asp-validation-for="Personagem" class="text-danger"></span>
			</div>
			<div class="from-group">
				<label asp-for="Review" class="control-label"></label>
				<input asp-for="Review" class="form-control">
				<span asp-validation-for="Review" class="text-danger"></span>
			</div>
			<div class="from-group">
				<label asp-for="Nota" class="control-label"></label>
				<input asp-for="Nota" class="form-control">
				<span asp-validation-for="Nota" class="text-danger"></span>
			</div>
			<div class="from-group">
				<label asp-for="GeneroId" class="control-label"></label>
				<select asp-for="GeneroId" class="form-control" asp-items="ViewBag.GeneroId"></select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-success">
			</div>
		</form>
	</div>
</div>

<button asp-action="Index">Voltar a Lista</button>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}