@{
    ViewData["Title"] = "Galeria";
}
<div class="container">
    <div class="row">
        <div class="card col-3 m-2">
            <img src="~/img/ferrari.jpg" class="card-img-top" alt="Ferrari">
            <div class="card-body">
                <h5 class="card-title">Ferrari</h5>
                <p class="card-text">Charles Leclerc - Carlos Sains Jr</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/redbull.jpg" class="card-img-top" alt="Red Bull">
            <div class="card-body">
                <h5 class="card-title">Red Bull</h5>
                <p class="card-text">Max Emilian Verstapen - Sergio Peres</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/mercedes.jpg" class="card-img-top" alt="Mercedes">
            <div class="card-body">
                <h5 class="card-title">Mercedes</h5>
                <p class="card-text">Lewis Hamilton - George Russel</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/ferrari.jpg" class="card-img-top" alt="Ferrari">
            <div class="card-body">
                <h5 class="card-title">Ferrari</h5>
                <p class="card-text">Charles Leclerc - Carlos Sains Jr</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/mclaren.jpg" class="card-img-top" alt="Mclaren">
            <div class="card-body">
                <h5 class="card-title">Mclaren</h5>
                <p class="card-text">Lando Norris - Daniel Ricciardo</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/alpine.jpg" class="card-img-top" alt="Alpine">
            <div class="card-body">
                <h5 class="card-title">Alpine</h5>
                <p class="card-text">Esteban Ocon - Fernando Alonso</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/alphatauri.jpg" class="card-img-top" alt="AlphaTauri">
            <div class="card-body">
                <h5 class="card-title">AlphaTauri</h5>
                <p class="card-text">Pierre Gasly - Yuki Tsunoda</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/alfaromeo.jpg" class="card-img-top" alt="Alfa Romeo">
            <div class="card-body">
                <h5 class="card-title">Alfa Romeo</h5>
                <p class="card-text">Valteri Bottas - Guanyu Zhou</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/hass.jpg" class="card-img-top" alt="Hass">
            <div class="card-body">
                <h5 class="card-title">Hass</h5>
                <p class="card-text">Mick Schumacher - Kevin Magnussen</p>
            </div>
        </div>
        <div class="card col-3 m-2">
            <img src="~/img/williams.jpg" class="card-img-top" alt="Williams">
            <div class="card-body">
                <h5 class="card-title">Williams</h5>
                <p class="card-text">Nicholas Latifi - Alexander Albon</p>
            </div>
        </div>
    </div>
</div>