@model Weapons

<div class="conteiner">
	<div class="row">
		@foreach (var item in Model.data)
		{
			<div class="card bg-danger col-3 m-2">
				<div class="card-header">
					<img class="img-fluid" src="@item.displayIcon" alt="@item.displayName">
				</div>
				<div class="card-body">
					<article>
						<div >@item.displayName</div>
					</article>
				</div>
			</div>
		}
	</div>
</div>

